
<!--2 way binding use v-model, user changed it or code change it, everything else reflected to change
-->

<div id="app">
    <h2>Employee List</h2>
  
    <label for="city">City</label> 
    <select id="city" v-model="city">
      <option v-for="city of cities" :key="city">{{city}}</option>
    </select>
  
    <ul>
      <li v-for="employee of filteredEmployees" :key="employee._id">
        {{employee.FirstName}} {{employee.LastName}}
      </li>
    </ul>
  </div>
  
  <script src="https://unpkg.com/vue"></script>
  <script>
    const teamsApiUrl = 'https://quiet-wave-16481.herokuapp.com';
    const vm = new Vue({
      el: '#app',
      data: {
        employees: [],
        cities: [],
        city: 'All'
      },
      computed: {
        filteredEmployees: function() {
          // Build a new list of employees, where All are included, or only
          // those for the chosen city
          return this.employees.filter(employee => 
            this.city === 'All' || employee.AddressCity === this.city);
        }
      },
      methods: {
        loadEmployees: function() {
          fetch(`${teamsApiUrl}/employees`)
            .then(res => res.json())
            .then(employees => {
              // Create unique list of cities, removing duplicates
              // https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set#Remove_duplicate_elements_from_the_array
              let cities = [...new Set(employees.map(employee => employee.AddressCity))];
              // Sort the list of cities in place
              cities.sort();
              // Prepend the value 'All' to the front of the list
              cities.unshift('All'); //unshift,give me the uniqe and sorted array, put all in the front
  
              // Update our instance's employees and cities arrays with the new ones
              this.cities = cities;
              this.employees = employees;
            });
        }
      },
      created: function() {
        this.loadEmployees();
      }
    });
  </script>